<!-- Start Hero Section -->
<section
  class="w-full max-w-5xl mx-auto mt-10 lg:mt-14 flex flex-col gap-5 py-20 max-xl:px-5"
>
  <!-- Title -->
  <h1 class="text-4xl sm:text-5xl lg:text-6xl font-semibold text-balance">
    <span class="text-primary">FoxCode:</span>
    <span>Transformando ideas en realidad</span>
  </h1>

  <!-- Text -->
  <p class="font-light text-neutral-300 lg:text-lg max-sm:mt-3 max-sm:text-sm sm:text-balance">
    Transformamos tus ideas en productos digitales listos para producción. Te
    acompañamos desde la validación y el diseño hasta el desarrollo y la puesta
    en marcha, para que tu software escale al ritmo de tu negocio.
  </p>

  <!-- Buttons -->
  <div class="flex items-center gap-x-3 mt-5">
    <button
      type="button"
      class="bg-primary text-white font-medium px-4 py-2.5 rounded-full hover:bg-primary-dark transition cursor-pointer"
    >
      Compártenos tu idea
    </button>

    <a href="/servicios">
      <button
        type="button"
        class="hidden sm:block bg-white/5 text-white font-medium px-4 py-2.5 rounded-full hover:bg-white/10 transition cursor-pointer"
      >
        Descubre nuestros servicios
      </button>
    </a>
  </div>

</section>
<!-- End Hero Section -->
