<section
    class="w-full grid py-32 max-w-5xl mx-auto max-lg:px-5 -space-y-80 min-h-screen"
>
    <div class="flex flex-row w-full items-start gap-3">
        <div class="lg:flex flex-col gap-3 w-full hidden">
            <div class="w-full rounded-xl bg-white/2 h-20"></div>
            <div
                class="w-full rounded-xl bg-white/20 h-30 relative group overflow-hidden"
            >
                <!-- <img src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg" alt="" class="w-full h-full object-cover rounded-xl brightness-90" />
            <div class="absolute bottom-0 left-0 right-0 h-1/2 bg-gradient-to-t from-black/70 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-b-xl"></div>
            <p class="absolute bottom-4 text-center font-semibold text-[11px] w-full opacity-0 group-hover:opacity-100 transition-opacity duration-300">Diseñador UX/UI</p> -->
            </div>
            <div
                class="w-full rounded-xl bg-white/20 h-30 relative group overflow-hidden"
            >
                <!-- <img src="https://images.pexels.com/photos/837358/pexels-photo-837358.jpeg" alt="" class="w-full h-full object-cover rounded-xl brightness-90" />
            <div class="absolute bottom-0 left-0 right-0 h-1/2 bg-gradient-to-t from-black/70 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-b-xl"></div>
            <p class="absolute bottom-4 text-center font-semibold text-[11px] w-full opacity-0 group-hover:opacity-100 transition-opacity duration-300">Desarrollador front-end</p> -->
            </div>
        </div>
        <div class="hidden md:flex flex-col gap-3 w-full">
            <div class="w-full rounded-xl bg-white/2 h-12"></div>
            <div
                class="w-full rounded-xl bg-white/20 h-30 relative group overflow-hidden"
            >
                <!-- <img src="https://images.pexels.com/photos/845457/pexels-photo-845457.jpeg" alt="" class="w-full h-full object-cover rounded-xl brightness-90" />
            <div class="absolute bottom-0 left-0 right-0 h-1/2 bg-gradient-to-t from-black/70 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-b-xl"></div>
            <p class="absolute bottom-4 text-center font-semibold text-[11px] w-full opacity-0 group-hover:opacity-100 transition-opacity duration-300">Desarrollador back-end</p> -->
            </div>
            <div
                class="w-full rounded-xl bg-white/20 h-30 relative group overflow-hidden"
            >
                <!-- <img src="https://images.pexels.com/photos/819530/pexels-photo-819530.jpeg" alt="" class="w-full h-full object-cover rounded-xl brightness-90" />
            <div class="absolute bottom-0 left-0 right-0 h-1/2 bg-gradient-to-t from-black/70 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-b-xl"></div>
            <p class="absolute bottom-4 text-center font-semibold text-[11px] w-full opacity-0 group-hover:opacity-100 transition-opacity duration-300">Experto en redes</p> -->
            </div>
        </div>
        <div class="hidden sm:flex flex-col gap-3 w-full">
            <div class="w-full rounded-xl bg-white/2 h-24"></div>
            <div
                class="w-full rounded-xl bg-white/20 h-30 relative group overflow-hidden"
            >
                <!-- <img src="https://images.pexels.com/photos/2058659/pexels-photo-2058659.jpeg" alt="" class="w-full h-full object-cover rounded-xl brightness-90" />
            <div class="absolute bottom-0 left-0 right-0 h-1/2 bg-gradient-to-t from-black/70 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-b-xl"></div>
            <p class="absolute bottom-4 text-center font-semibold text-[11px] w-full opacity-0 group-hover:opacity-100 transition-opacity duration-300">Desarrollador móvil</p> -->
            </div>
        </div>
        <div class="flex flex-col gap-3 w-full">
            <div class="w-full rounded-xl bg-white/2 h-12"></div>
            <div
                class="w-full rounded-xl bg-white/20 h-30 relative group overflow-hidden"
            >
                <!-- <img src="https://images.pexels.com/photos/2853507/pexels-photo-2853507.jpeg" alt="" class="w-full h-full object-cover rounded-xl brightness-90" />
            <div class="absolute bottom-0 left-0 right-0 h-1/2 bg-gradient-to-t from-black/70 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-b-xl"></div>
            <p class="absolute bottom-4 text-center font-semibold text-[11px] w-full opacity-0 group-hover:opacity-100 transition-opacity duration-300">Experto en automatizaciones</p> -->
            </div>
        </div>
        <div class="flex flex-col gap-3 w-full">
            <div class="w-full rounded-xl bg-white/2 h-22"></div>
            <div
                class="w-full rounded-xl bg-white/20 h-30 relative group overflow-hidden"
            >
                <!-- <img src="https://images.pexels.com/photos/1304647/pexels-photo-1304647.jpeg" alt="" class="w-full h-full object-cover rounded-xl brightness-90" />
            <div class="absolute bottom-0 left-0 right-0 h-1/2 bg-gradient-to-t from-black/70 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-b-xl"></div>
            <p class="absolute bottom-4 text-center font-semibold text-[11px] w-full opacity-0 group-hover:opacity-100 transition-opacity duration-300">Diseñador UX/UI</p> -->
            </div>
        </div>
        <div class="flex flex-col gap-3 w-full">
            <div class="w-full rounded-xl bg-white/2 h-12"></div>
            <div
                class="w-full rounded-xl bg-white/20 h-30 relative group overflow-hidden"
            >
                <!-- <img src="https://images.pexels.com/photos/769746/pexels-photo-769746.jpeg" alt="" class="w-full h-full object-cover rounded-xl brightness-90" />
            <div class="absolute bottom-0 left-0 right-0 h-1/2 bg-gradient-to-t from-black/70 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-b-xl"></div>
            <p class="absolute bottom-4 text-center font-semibold text-[11px] w-full opacity-0 group-hover:opacity-100 transition-opacity duration-300">Desarrollador front-end</p> -->
            </div>
        </div>
        <div class="hidden sm:flex flex-col gap-3 w-full">
            <div class="w-full rounded-xl bg-white/2 h-24"></div>
            <div
                class="w-full rounded-xl bg-white/20 h-30 relative group overflow-hidden"
            >
                <!-- <img src="https://images.pexels.com/photos/2182970/pexels-photo-2182970.jpeg" alt="" class="w-full h-full object-cover rounded-xl brightness-90" />
            <div class="absolute bottom-0 left-0 right-0 h-1/2 bg-gradient-to-t from-black/70 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-b-xl"></div>
            <p class="absolute bottom-4 text-center font-semibold text-[11px] w-full opacity-0 group-hover:opacity-100 transition-opacity duration-300">Arquitecto de software</p> -->
            </div>
        </div>
        <div class="hidden md:flex flex-col gap-3 w-full">
            <div class="w-full rounded-xl bg-white/2 h-12"></div>
            <div
                class="w-full rounded-xl bg-white/20 h-30 relative group overflow-hidden"
            >
                <!-- <img src="https://images.pexels.com/photos/1681010/pexels-photo-1681010.jpeg" alt="" class="w-full h-full object-cover rounded-xl brightness-90" />
            <div class="absolute bottom-0 left-0 right-0 h-1/2 bg-gradient-to-t from-black/70 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-b-xl"></div>
            <p class="absolute bottom-4 text-center font-semibold text-[11px] w-full opacity-0 group-hover:opacity-100 transition-opacity duration-300">Analista de datos</p> -->
            </div>
            <div
                class="w-full rounded-xl bg-white/20 h-30 relative group overflow-hidden"
            >
                <!-- <img src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg" alt="" class="w-full h-full object-cover rounded-xl brightness-90" />
            <div class="absolute bottom-0 left-0 right-0 h-1/2 bg-gradient-to-t from-black/70 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-b-xl"></div>
            <p class="absolute bottom-4 text-center font-semibold text-[11px] w-full opacity-0 group-hover:opacity-100 transition-opacity duration-300">Especialista en ciberseguridad</p> -->
            </div>
        </div>
        <div class="hidden lg:flex flex-col gap-3 w-full">
            <div class="w-full rounded-xl bg-white/2 h-20"></div>
            <div
                class="w-full rounded-xl bg-white/20 h-30 relative group overflow-hidden"
            >
                <!-- <img src="https://images.pexels.com/photos/1212984/pexels-photo-1212984.jpeg" alt="" class="w-full h-full object-cover rounded-xl brightness-90" />
            <div class="absolute bottom-0 left-0 right-0 h-1/2 bg-gradient-to-t from-black/70 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-b-xl"></div>
            <p class="absolute bottom-4 text-center font-semibold text-[11px] w-full opacity-0 group-hover:opacity-100 transition-opacity duration-300">Marketing Digital</p> -->
            </div>
            <div
                class="w-full rounded-xl bg-white/20 h-30 relative group overflow-hidden"
            >
                <!-- <img src="https://images.pexels.com/photos/1820656/pexels-photo-1820656.jpeg" alt="" class="w-full h-full object-cover rounded-xl brightness-90" />
            <div class="absolute bottom-0 left-0 right-0 h-1/2 bg-gradient-to-t from-black/70 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-b-xl"></div>
            <p class="absolute bottom-4 text-center font-semibold text-[11px] w-full opacity-0 group-hover:opacity-100 transition-opacity duration-300">Diseñador gráfico</p> -->
            </div>
        </div>
    </div>
    <div
        class="flex flex-col items-center justify-center gap-y-7 text-center z-20 max-md:px-5"
    >
        <h3 class="text-4xl md:text-5xl font-semibold text-white max-w-xl">
            Comprometidos con tu éxito digital
        </h3>
        <p class="text-neutral-300 max-w-3xl">
            Descrubre cómo nuestro equipo apasionado y dedicado trabaja
            incansablemente para ofrecer soluciones tecnológicas innovadoras que
            impulsan el crecimiento de tu negocio.
        </p>
        <a href="#productos">
            <button
                type="button"
                class="bg-primary text-white font-medium px-4 py-2.5 rounded-full hover:bg-primary-dark transition cursor-pointer"
            >
                Conoce más
            </button>
        </a>
    </div>
</section>
