<section class="py-20 max-xl:px-5">
    <!-- Title -->
    <div class="space-y-3 w-full max-w-5xl text-center mx-auto">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            class="lucide lucide-messages-square-icon lucide-messages-square size-10 mx-auto text-white/60 mb-3">
            <g clip-path="url(#clip0_4418_3646)">
                <path d="M22 12.0007V12.9707C22 16.9707 20 18.9707 16 18.9707H15.5C15.19 18.9707 14.89 19.1207 14.7 19.3707L13.2 21.3707C12.54 22.2507 11.46 22.2507 10.8 21.3707L9.29999 19.3707C9.12999 19.1507 8.77 18.9707 8.5 18.9707H8C4 18.9707 2 17.9707 2 12.9707V7.9707C2 3.9707 4 1.9707 8 1.9707H16C20 1.9707 22 3.9707 22 7.9707" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M8 8.69922L6 10.6992L8 12.6992" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M16 8.69922L18 10.6992L16 12.6992" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M13 8.36914L11 13.0292" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </g>
            <defs>
                <clipPath id="clip0_4418_3646">
                    <rect width="24" height="24" fill="white"/>
                </clipPath>
            </defs>
        </svg>
        <h3 class="text-2xl md:text-3xl lg:text-4xl font-medium text-white">
            ¿Necesitas un servicio a medida?
        </h3>
        <p class="max-w-3xl max-sm:text-sm text-neutral-300 font-light w-fit mx-auto">
            Podemos personalizar un plan que se adapte a tus necesidades.
        </p>
        <button
            type="button"
            aria-haspopup="dialog" aria-expanded="false" aria-controls="contact-us-modal" data-hs-overlay="#contact-us-modal"
            class="bg-primary px-5 py-2 mt-5 rounded-full text-white font-medium hover:bg-primary/80 transition"
        >
            Compártenos tu idea
        </button>
    </div>
</section>
