---
import Logo from "@/assets/logos/logo-full-white.webp";
import Instagram from "@/assets/icons/instagram.svg";
import Tiktok from "@/assets/icons/tiktok.svg";
---

<!-- Footer Section -->
<section class="rounded-full w-full px-5 py-5">
    <footer class="max-w-5xl mx-auto">
        <!-- Links and social media -->
        <div
            class="grid sm:grid-cols-3 md:grid-cols-4 gap-y-10 gap-x-5 md:gap-x-10"
        >
            <article
                class="text-sm flex flex-col gap-y-3 sm:col-span-3 md:col-span-1 mx-auto md:mx-0"
            >
                <img
                    src={Logo.src}
                    class="object-contain h-10 mr-auto"
                    alt="FoxCode Logo"
                />
                <div class="flex items-center max-md:justify-center gap-x-3">
                    <a
                        href="https://instagram.com/foxcode"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="Instagram de FoxCode"
                        ><Instagram
                            class="size-7 fill-white sm:size-8 hover:opacity-80 transition-opacity"
                        /></a
                    >
                    <a
                        href="https://tiktok.com/@foxcode"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="TikTok de FoxCode"
                        ><Tiktok
                            class="size-5 fill-white sm:size-6 hover:opacity-80 transition-opacity"
                        /></a
                    >
                    <a
                        href="https://discord.gg/foxcode"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="Discord de FoxCode"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            class="size-6 text-white sm:size-7 hover:opacity-80 transition-opacity"
                        >
                            <path
                                fill="currentColor"
                                d="M19.27 5.33C17.94 4.71 16.5 4.26 15 4a.1.1 0 0 0-.07.03c-.18.33-.39.76-.53 1.09a16.1 16.1 0 0 0-4.8 0c-.14-.34-.35-.76-.54-1.09c-.01-.02-.04-.03-.07-.03c-1.5.26-2.93.71-4.27 1.33c-.01 0-.02.01-.03.02c-2.72 4.07-3.47 8.03-3.1 11.95c0 .02.01.04.03.05c1.8 1.32 3.53 2.12 5.24 2.65c.03.01.06 0 .07-.02c.4-.55.76-1.13 1.07-1.74c.02-.04 0-.08-.04-.09c-.57-.22-1.11-.48-1.64-.78c-.04-.02-.04-.08-.01-.11c.11-.08.22-.17.33-.25c.02-.02.05-.02.07-.01c3.44 1.57 7.15 1.57 10.55 0c.02-.01.05-.01.07.01c.11.09.22.17.33.26c.04.03.04.09-.01.11c-.52.31-1.07.56-1.64.78c-.04.01-.05.06-.04.09c.32.61.68 1.19 1.07 1.74c.03.01.06.02.09.01c1.72-.53 3.45-1.33 5.25-2.65c.02-.01.03-.03.03-.05c.44-4.53-.73-8.46-3.1-11.95c-.01-.01-.02-.02-.04-.02M8.52 14.91c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.84 2.12-1.89 2.12m6.97 0c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.83 2.12-1.89 2.12"
                            ></path>
                        </svg>
                    </a>
                    <a
                        href="https://linkedin.com/company/foxcode"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="LinkedIn de FoxCode"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            class="size-6 text-white sm:size-7 hover:opacity-80 transition-opacity"
                        >
                            <path
                                fill="currentColor"
                                d="M18.44 3.06H5.56a2.507 2.507 0 0 0-2.5 2.5v12.88a2.507 2.507 0 0 0 2.5 2.5h12.88a2.5 2.5 0 0 0 2.5-2.5V5.56a2.5 2.5 0 0 0-2.5-2.5m1.5 15.38a1.51 1.51 0 0 1-1.5 1.5H5.56a1.51 1.51 0 0 1-1.5-1.5V5.56a1.51 1.51 0 0 1 1.5-1.5h12.88a1.51 1.51 0 0 1 1.5 1.5Z"
                            ></path>
                            <path
                                fill="currentColor"
                                d="M6.376 10.748a1 1 0 1 1 2 0v6.5a1 1 0 0 1-2 0Z"
                            ></path>
                            <circle
                                cx="7.376"
                                cy="6.744"
                                r="1"
                                fill="currentColor"></circle>
                            <path
                                fill="currentColor"
                                d="M17.62 13.37v3.88a1 1 0 1 1-2 0v-3.88a1.615 1.615 0 1 0-3.23 0v3.88a1 1 0 0 1-2 0v-6.5a1.016 1.016 0 0 1 1-1a.94.94 0 0 1 .84.47a3.61 3.61 0 0 1 5.39 3.15"
                            ></path>
                        </svg>
                    </a>
                </div>
            </article>

            <article class="text-sm flex flex-col max-sm:items-center gap-y-3">
                <h3 class="font-semibold uppercase tracking-widest mb-3">
                    Empresa
                </h3>
                <a
                    href="/"
                    class="text-white/60 hover:text-white hover:underline w-fit"
                    >Inicio</a
                >
                <a
                    href="/servicios"
                    class="text-white/60 hover:text-white hover:underline w-fit"
                    >Servicios</a
                >
                <a
                    href="/nosotros"
                    class="text-white/60 hover:text-white hover:underline w-fit"
                    >Nosotros</a
                >
            </article>

            <article class="text-sm flex flex-col max-sm:items-center gap-y-3">
                <h3 class="font-semibold uppercase tracking-widest mb-3">
                    Productos
                </h3>

                <a
                    href="/productos#foxrooms"
                    class="text-white/60 hover:text-white hover:underline w-fit"
                    >FoxRooms</a
                >
                <a
                    href="/productos#escapify"
                    class="text-white/60 hover:text-white hover:underline w-fit"
                    >Escapify</a
                >
                <a
                    href="/productos#foxeats"
                    class="text-white/60 hover:text-white hover:underline w-fit"
                    >FoxEats</a
                >
            </article>

            <article class="text-sm flex flex-col max-sm:items-center gap-y-3">
                <h3 class="font-semibold uppercase tracking-widest mb-3">
                    Contáctanos
                </h3>
                <a
                    href="mailto:contacto@foxcode.com"
                    class="flex items-center gap-x-2 text-white/60 hover:text-white hover:underline w-fit"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-mail-icon lucide-mail size-4"
                        ><path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"
                        ></path><rect x="2" y="4" width="20" height="16" rx="2"
                        ></rect></svg
                    >
                    contact&#8203;@foxcode.com
                </a>
                <a
                    href="tel:+51987654321"
                    class="flex items-center gap-x-2 text-white/60 hover:text-white hover:underline w-fit"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-phone-icon lucide-phone size-4"
                        ><path
                            d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"
                        ></path></svg
                    >
                    +51 960 606 442
                </a>
                <a
                    href="https://wa.me/51960606442"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="flex items-center gap-x-2 text-white/60 hover:text-white hover:underline w-fit"
                >
                    <svg
                        class="w-4 h-4"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                    >
                        <path d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z" />
                    </svg>
                    +51 951 963 622
                </a>
            </article>
        </div>

        <!-- Copyright Message, Terms & Privacy Policy -->
        <div
            class="flex flex-wrap justify-center items-center gap-x-3 gap-y-2 mt-20 text-xs sm:text-sm"
        >
            <p class="text-center text-white/60">
                &copy; {new Date().getFullYear()} Foxcode.
            </p>

            <div class="rounded-full size-1 bg-white/60"></div>
            <a
                href="/legal#terms"
                class="text-white/60 hover:underline hover:text-white text-nowrap"
                >Términos y Condiciones.</a
            >
            <div class="rounded-full size-1 bg-white/60"></div>
            <a
                href="/legal#privacity"
                class="text-white/60 hover:underline hover:text-white text-nowrap"
                >Política de privacidad.</a
            >
            <div class="rounded-full size-1 bg-white/60"></div>
            <a
                href="/legal#reclamations"
                class="text-white/60 hover:underline hover:text-white text-nowrap"
                >Libro de reclamaciones.</a
            >

        </div>
    </footer>
</section>
